* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: #181818;
  font-weight: 400;
}
:root {
  --main-primary-blue: #181818;
}
.container {
  margin: 0 auto;
  max-width: 1160px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 1100px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 760px;
  }
}

/* header ================= */

.header__inner {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 28px;
  font-weight: 700;
  color: #0f2a59;
  width: 200px;
}
.header__logo a {
  text-decoration: none;
  color: #0f2a59;
}

.header__nav {
  width: 881px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 570px) {
  .header__nav {
    display: none;
  }
}
/* .burger__menu start =================== */
.gamburger {
  display: none;
}
.burger__menu {
  margin: 0 auto;
  display: flex;
  justify-content: end;
}
.menu-btn {
  align-items: center;
  width: 50px;
  height: 50px;
  background: #181818;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger {
  width: 30px;
  height: 4px;
  background: white;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::after,
.menu-btn-burger::before {
  position: absolute;
  display: flex;
  justify-content: center;
  content: "";
  width: 30px;
  height: 4px;
  background: white;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::after {
  transform: translateY(-12px);
}

.menu-btn-burger::before {
  transform: translateY(12px);
}
/* burger-menu end */
@media (max-width: 570px) {
  .gamburger {
    display: block;
  }
}
.nav__ul {
  list-style: none;
  width: 325px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: var(--main-primary-blue);
}

.nav__link :hover {
  color: #000000;
  opacity: 0.7;
  box-shadow: 4px 2px 2px #000000;
  transition: 0.5s;
}
.nav__link img {
  margin-left: 4px;
}

.nav__lang {
  width: 122px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__lang p {
  font-size: 14px;
  font-weight: 400;
}

.nav__lang img:hover {
  transition: 1s;
  box-shadow: 4px 1px 2px red;
}

/* main ================== */

.main__banner {
  background-image: url(./main_img/fotka.png);
  background-position: center center;
  background-color: #464646;
}
@media (max-width: 700px) {
  .main__banner {
    max-width: 750px;
    background-position: 73% 90%;
    background-size: cover;
  }
  .main__arrow {
    display: none;
  }
}

.main__inner {
  margin: 0 62px;
  padding: 226px 0 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__description {
  max-width: 343px;
  height: 176px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.main__arrow_desc {
  width: 478px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__description_title {
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
}
.main__description_sub-title {
  color: #ffffff;
  margin: 20px 0 55px;
}
.main__description_btn {
  width: 198px;
  height: 40px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
}
.main__description_btn:hover {
  background-color: rgb(67, 64, 64);
  transition: 0.7s;
}

@media (max-width: 700px) {
  .main__description {
    align-items: center;
    width: 300px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .main__inner {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .main__arrow_desc {
    max-width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .main__description_title {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
  .main__description_sub-title {
    color: #ffffff;
    font-size: 14px;
  }
  .main__description_btn {
    background-color: #032624;
  }
  .main__description_btn a {
    font-size: 18px;
  }
}

.main__description_btn a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.main__arrow:hover {
  background-color: rgb(67, 64, 64);
  transition: 0.7s;
}

.main__cyrcles {
  width: 136px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 26px;
}
.main__cyrles_cyrle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #b8b8b8;
  background-color: #ffffff;
}

.main__cyrles_cyrle:hover {
  border: 2px solid #ffffff;
  background-color: #0f2a59;
}

html {
  scroll-behavior: smooth;
}
