* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: #181818;
  left: 0;
  top: 0;
  font-weight: 400;
}
.container {
  margin: 0 auto;
  max-width: 1168px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 1100px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 760px;
  }
}

/* header ================= */

.header__inner {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 28px;
  font-weight: 700;
  color: #0f2a59;
  width: 200px;
}

.header__nav {
  width: 881px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 570px) {
  .header__nav {
    display: none;
  }
}
.burger__menu {
  display: none;
}
@media (max-width: 570px) {
  .burger__menu {
    display: block;
  }
}
.nav__ul {
  list-style: none;
  width: 325px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #181818;
}

.nav__link :hover {
  color: #000000;
  opacity: 0.7;
  transition: 0.5s;
}
.nav__link img {
  margin-left: 4px;
}

.nav__lang {
  width: 122px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__lang p {
  font-size: 14px;
  font-weight: 400;
}

.main__banner {
  background-image: url(./main_img/fotka.png);
  background-position: center center;
  background-color: #464646;
}
@media (max-width: 700px) {
  .main__banner {
    max-width: 750px;
    background-position: 75% 0;
  }
  .main__arrow {
    display: none;
  }
}

.main__inner {
  margin: 0 32px;
  padding: 227px 0 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.main__description {
  max-width: 343px;
  max-height: 176px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.main__arrow_desc {
  width: 478px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 700px) {
  .main__description {
    background-color: rgba(248, 199, 199, 0.154);
  }
  .main__inner {
    /* padding: 277px 350px 0 0; */
    /* padding: 0; */
  }
  .main__arrow_desc {
    width: 100%;
  }
}

.main__description_title {
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
}
.main__description_sub-title {
  color: #ffffff;
  margin: 20px 0 53px;
}
.main__description_btn {
  width: 198px;
  height: 40px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__description_btn:hover {
  background-color: rgb(67, 64, 64);
  transition: 0.7s;
  /* opacity: 0.5; */
}
.main__description_btn a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.main__arrow:hover {
  background-color: rgb(67, 64, 64);
  transition: 0.7s;
}

.main__cyrcles {
  width: 136px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 28px;
}
.main__cyrles_cyrle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #b8b8b8;
  background-color: #ffffff;
}

.main__cyrles_cyrle:hover {
  border: 2px solid #ffffff;
  background-color: #0f2a59;
}
