.sectiom__inform_block {
  width: 368px;
  height: 130px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
}

.section__inform {
  position: relative;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
.section__title_par {
  font-size: 14px;
  margin-top: 5px;
}
.section__title_par {
  margin-top: 10px;
}
@media (max-width: 1000px) {
  .section__inform {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .sectiom__inform_block {
    margin-bottom: 20px;
  }
}
.section__title {
  width: 331px;
  padding: 16px 0 0 16px;
  position: absolute;
}
.section__title h5 {
  font-size: 16px;
  font-weight: 700;
}
.section__title p {
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 400px) {
  .section__title {
    max-width: 320px;
  }
}

.section__inform a {
  text-decoration: none;
  color: #181818;
  font-size: 16px;
  font-weight: 400;
}

.block__border {
  width: 5px;
  height: 129px;
  background-color: #0f2a59;
}
.block__border:hover {
  background-color: #ebebeb;
}
